/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  float: left;
  margin-bottom: 20px;
}

#left {
  background: #30948D;
  padding: 20px;  
  width: 33.3%;
}

#middle {
  background: #9E1212;
  padding: 20px;  
  width: 33.3%;
}

#right {
  background:#30948D;
  padding: 20px;  
  width: 33.3%;
}

#full {
  padding: 20px;
  background: #394549;
  width: 100%;
  overflow: auto;
  clear: both;
}

#division {
  margin: 20px;
  margin-left: 5px;
  padding: 20px; 
  background: #6ea3da;
}

aside {
  width: 30%;
  height: 150px;
  padding: 20px;
  margin-left: 20px;
  background: #a6b747;
  float: left;
}

footer {
  color: white;
  background: #FFA500;
  padding: 20px;
  width: 100%;  
  clear: both;
}
